Hotels.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <!-- Root element -->
  <xs:element name="Hotels">
    <xs:complexType>
      <xs:sequence>
        <!-- One or more Hotel elements -->
        <xs:element name="Hotel" maxOccurs="unbounded">
          <xs:complexType>
            <!-- Ordered children: Name, Phone(s), Address -->
            <xs:sequence>
              <!-- Hotel name (required) -->
              <xs:element name="Name" type="xs:string"/>

              <!-- Phone: one or more phone elements allowed -->
              <xs:element name="Phone" type="xs:string" minOccurs="1" maxOccurs="unbounded"/>

              <!-- Address block -->
              <xs:element name="Address">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Number" type="xs:string"/>
                    <xs:element name="Street" type="xs:string"/>
                    <xs:element name="City" type="xs:string"/>
                    <xs:element name="State" type="xs:string"/>
                    <xs:element name="Zip" type="xs:string"/>
                    <xs:element name="NearestAirport" type="xs:string" use="required"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

            </xs:sequence>

            <!-- Attributes for Hotel -->
            <!-- <xs:attribute name="id" type="xs:string" use="required"/> -->
            <!-- Optional rating attribute (decimal) -->
            <xs:attribute name="Rating" type="xs:decimal" use="optional"/>

          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
